<a href="https://colab.research.google.com/github/arad1367/test1/blob/main/Python_WAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction to Python

* Data type, operators, variables, string, formatted string

In [ ]:
# Try to print Hello World!
print(" Hello World! ")

 Hello World!

In [ ]:
# Example 1: Try to print your name
print('My name is Pejman')

My name is Pejman

In [ ]:
# int : 4, 9, 10
# float : 10.5, 1.7, 3.8
# String :  Pejman, Germany, Name, Budapest
# Boolean : True(1), False(0)

In [ ]:
# Variables
city_name = 'Budapest'
name = 'Pejman'
age = 33

print(city_name, name, age)

Budapest Pejman 33

In [ ]:
# Solution 1: (Not recommended by me)
print('My name is ' + name + ', My city is ' + city_name + ' , my age is ' + str(age))

My name is Pejman, My city is Budapest , my age is 33

In [ ]:
# Solution 2: (Use f'')
print(f'Hey, my name is: {name}. and my age is {age} and my city is {city_name}')

Hey, my name is: Pejman. and my age is 33 and my city is Budapest

In [ ]:
# Type of our variable
score = 7.6
type(score)

float

In [ ]:
len(city_name)

8